:root {
  --color-negro: #0d0d0d;
  --color-blanco: #f1f1f1;
}

.Cart_Wrapper {
  position: relative;
  z-index: 1001;
  bottom: -1000px;
  transition: 0.5s ease-in-out;

  &.active {
    bottom: 35px;
  }

  .Cart_Content {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: #0d0d0d;

    .Cart_header {
      width: 90%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      h3 {
        text-align: center;
        color: var(--color-blanco);
        font-size: 2.8rem;
        font-family: 'CapitalinaOne';
        flex: 1;
      }

      .down_arrow {
        cursor: pointer;

        i {

          font-size: 2rem;
          color: #f1f1f1;
        }
      }
    }

    .Cart_Pedido-Content {
      width: 100%;
      height: 350px;
      overflow: auto;

      .Cart_Pedido {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: #f1f1f1 solid 2px;

        @media screen and(min-width: 768px) {
          justify-content: space-around;
        }

        img {
          width: 65px;
          height: 65px;

          @media screen and (min-width: 768px) {
            width: 150px;
            height: 150px;
          }
        }

        .Cart_Pedido_title {
          p {
            font-size: 1.2rem;
            font-family: 'Capitalinathree';
            color: var(--color-blanco);
          }
        }

        .Cart_Pedido_price {
          margin-top: 22px;

          p {
            font-size: 1.2rem;
            font-family: 'Capitalinathree';
            color: var(--color-blanco);
          }
        }

        button {
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

  }


  .Cart_total {
    position: fixed;
    bottom: -1000px;
    width: 100%;
    margin: 0 auto;
    transition: 0.5s ease-in-out;

    &.active {
      bottom: 0;
    }

    div {
      margin: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Capitalinathree';
      font-size: 2.5rem;
      color: var(--color-blanco);
    }

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      font-size: 2.5rem;
      font-family: 'Capitalinaone';
      color: #0d0d0d;
      background-color: var(--color-blanco);
    }

    button {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-blanco);
      color: var(--color-negro);
      font-family: 'Capitalinaone';
      font-size: 2.5rem;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #24c049;
        color: #f1f1f1
      }
    }
  }

}