.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  z-index: 1000;

  .navbar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
      width: 3rem;
      height: 3rem;
    }

    h1 {
      font-size: 1.5rem;
      font-family: 'CapitalinaOne';
      color: #333;

      span {
        color: #ecaa37;
      }
    }
  }

  .navbar_content {
    display: flex;

    .navbar_close {
      display: none;
    }

    .navbar_items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      a {
        font-size: 1.5rem;
        font-family: 'CapitalinaOne';
        color: #333;
        transition: 0.3s;

        &:hover {
          color: #ecaa37;
        }
      }
    }

    .navbar_social {
      display: none;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      position: fixed;
      top: 64px;
      right: -1000px;
      width: 100%;
      height: 90vh;
      background-color: #ecaa37;
      transition: 0.5s ease-in-out;

      &.active {
        right: 0;
      }

      .navbar_close {
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
      }

      .navbar_items {
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
          font-size: 2.5rem;
          color: #fffefe;
        }
      }

      .navbar_social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 3;

        .logo_empresa {
          width: 10rem;
          height: 10rem;
          margin-bottom: 30px;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          color: #333;
          font-size: 2rem;
          font-family: 'CapitalinaOne';
          ;

          i {
            font-size: 2rem;
            color: #fffefe;
          }
        }
      }
    }
  }

  .navbar_cart_menu {
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper_cart {
      position: relative;
      background-color: #2F2F2F;
      border-radius: 50%;
      margin-right: 30px;
      width: 50px;
      height: 50px;
      cursor: pointer;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
        right: -5px;
        font-family: Capitalinathree;
        font-size: 1.1rem;
        color: #fffefe;
        background-color: #ECAA37;
        padding: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: 0.5s ease-in-out;

      }

      .cart_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        i {
          font-size: 2.2rem;
          color: #fffefe;
        }
      }

    }

    .cart_menu {
      display: none;
    }

    @media screen and (max-width: 768px) {
      .cart_menu {
        display: flex;
      }
    }



  }

}