.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 15px;
  background-color: #FFFEFE;
  z-index: 1000;



  & .navbar__logo {
    display: flex;
    align-items: center;

    .logo {
      width: 50px;
      height: 50px;
    }

    & h1 {
      font-family: Capitalinaone;
      color: #2F2F2F;
      margin-left: 5px;
      font-size: 1.8rem;

      & span {
        color: #ECAA37;
      }
    }
  }

  & ul {
    position: fixed;
    width: 55%;
    top: 0;
    min-height: 100vh;
    height: 100%;

    right: -1000px;
    background-color: #ECAA37;
    transition: 0.5s ease-in-out;
    z-index: 1000;

    &>div {
      position: relative;
      width: 100%;

      & img {
        position: absolute;
        top: 15px;
        right: 20px;
      }
    }

    & li {
      margin-top: 70px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;


      &>a {

        font-family: Capitalinatwo;
        font-size: 1.8rem;
        color: #FFFEFE;

        &:hover {
          color: #2F2F2F;
        }
      }

      & .btnMenu {
        margin-top: 20px;
        background-color: #FE1618;
        padding: 15px;
        border-radius: 10px;

        &>a {
          color: #FFFEFE;
          font-family: Capitalinatwo;
          font-size: 1.5rem;

        }

        &:hover {
          background-color: #fe161aad;

        }
      }

      & .btnSocial {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: 100%;
        justify-content: end;
        gap: 10px;
        flex-direction: column;

        >img {
          width: 170px;
          height: 170px;
        }


        & :nth-child(2) {
          margin-left: 10px;
        }

        &>a {
          display: flex;
          gap: 10px;
          font-family: Capitalinatwo;
          font-size: 1.3rem;
          color: #FFFEFE;
          align-items: center;
          justify-content: center;

        }
      }
    }
  }

  & ul.active {
    right: 0;
  }

  & .navbar__menu {
    display: flex;
    align-items: center;
    cursor: pointer;

    .Cart_Menu {
      width: 30px;
      height: 30px;
    }

    .Wrapper_Cart {
      position: relative;
      background-color: #2F2F2F;
      border-radius: 50%;
      margin-right: 30px;
      width: 40px;
      height: 40px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
        right: -5px;
        font-family: Capitalinathree;
        font-size: 1.1rem;
        color: #fffefe;
        background-color: #ECAA37;
        padding: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      .Cart {
        width: 25px;
        height: 25px;
        top: 8px;
        left: calc(50% - 13px);
        position: absolute;
      }


    }
  }
}